@import "./allimport.css";

/* ************** Background color *********** */

.bg_grey {
    background-color: var(--grey7);
}

.bg_red {
    background-color: var(--red6);
}

.bg_yellow {
    background-color: var(--yellow5);
}

.bg_green {
    background-color: var(--green6);
}

.bg_blue {
    background-color: var(--blue7);
}

.bg_purple {
    background-color: var(--purple6);
}

.bg_pink {
    background-color: var(--pink6);
}

.bg_dark{
    background-color: #333;
}

.bg_light{
    background-color: #fff;
}

/* ************** Background color ends *********** */


/* ************** Border *********** */
.border {
    border: 1px solid black;
}

.border_top {
    border-top: 1px solid black;
}

.border_bottom{
    border-bottom: 1px solid black;
}

.border_right{
    border-right: 1px solid black;
}

.border_left{
    border-left: 1px solid black;
}

/* ************** Border ends *********** */

/* ************** Border Color *********** */
.border_grey{
    border-color: var(--grey7);
}

.border_red{
    border-color: var(--red6);
}

.border_yellow{
    border-color: var(--yellow6);
}

.border_green{
    border-color: var(--green7);
}

.border_blue{
    border-color: var(--blue7);
}

.border_purple{
    border-color: var(--purple6);
}

.border_pink{
    border-color: var(--pink6);
}


/* ************** Border color ends*********** */

/* ************** Border width *********** */
.border_1 {
    border-width: 1px;
}
.border_2{
    border-width: 2px;
}
.border_3{
    border-width: 3px;
}
.border_4{
    border-width: 4px;
}
.border_5{
    border-width: 5px;
}
.border_6{
    border-width: 6px;
}

/* ************** Border width ends*********** */

/* ************** Border Radius *********** */
.border_radius{
    border-radius: 10px;
}

.border_radius_top{
    border-radius: 10px 10px 0 0;
}

.border_radius_bottom{
    border-radius: 0 0 10px 10px;
}

.border_radius_right{
    border-radius: 0 10px 10px 0;
}

.border_radius_left{
    border-radius: 10px 0 0 10px;
}

.border_radius_circle{
    border-radius: 50%;
}

/* ************** Border Radius ends *********** */

/* ************** Text Color *********** */
.text_grey{
    color: var(--grey7);
}

.text_red{
    color: var(--red6);
}

.text_yellow{
    color: var(--yellow6);
}

.text_green{
    color: var(--green6);
}

.text_blue { 
    color: var(--blue7);
}

.text_purple{
    color: var(--purple6);
}

.text_pink{
    color: var(--pink6);
}

.text_white{
    color: #fff;
}

.text_black{
    color: #111;
}

/* ************** Text Color Ends ********** */

/* ************** Flex ********** */

/* Display Flex */
.d_flex{
    display: flex;
}

/* flex direction */
.flex_row{
    flex-direction: row;
}
.flex_row_r{
    flex-direction: row-reverse;
}
.flex_column{
    flex-direction: column;
}
.flex_column_r{
    flex-direction: column-reverse;
}

/* Flex Wrap */
.flex_nw{
    flex-wrap: nowrap;
}
.flex_w{
    flex-wrap: wrap;
}
.flex_wr{
    flex-wrap: wrap-reverse;
}

/* Justify content */
.jc_fs{
    justify-content: flex-start;
}
.jc_fe{
    justify-content: flex-end;
}
.jc_c{
    justify-content: center;
}
.jc_sb{
    justify-content: space-between;
}
.jc_sa{
    justify-content: space-around;
}
.jc_se{
    justify-content: space-evenly;
}
.jc_start{
    justify-content: start;
}
.jc_end{
    justify-content: end;
}
.jc_left{
    justify-content: left;
}
.jc_right{
    justify-content: right;
}

/* Align items */
.ai_stretch{
    align-items: stretch;
}
.ai_fs{
    align-items: flex-start;
}
.ai_fe{
    align-items: flex-end;
}
.ai_center{
    align-items: center;
}
.ai_baseline{
    align-items: baseline;
}

/* Align Content */
.ac_fs{
    align-content: flex-start;
}
.ac_fe{
    align-content: flex-end;
}
.ac_center{
    align-content: center;
}
.ac_sb{
    align-content: space-between;
}
.ac_sa{
    align-content: space-around;
}

/* ************** Flex Ends ********** */


/************ Float ***************/
.float_r{
    float: right;
}
.float_l{
    float: left;
}
.float_n{
    float: none;
}
.float_inherit{
    float: inherit;
}
/************ Float Ends ***************/

/************ Interaction ***************/

.select_all{
    user-select: all;
}
.select_none{
    user-select: none;
}
.select_auto{
    user-select: auto;
}
.select_text{
    user-select: text;
}

/************ Interaction ends***************/

/************ Cursor ***************/
.cursor_auto{
    cursor: auto;
}
.cursor_none{
    cursor: none;
}
.cursor_cm{
    cursor: context-menu;
}
.cursor_help{
    cursor: help;
}
.cursor_pointer{
    cursor: pointer;
}

.cursor_progress{
    cursor: progress;
}
.cursor_wait{
    cursor: wait;
}
.cursor_cell{
    cursor: cell;
}
.cursor_ch{
    cursor: crosshair;
}

.cursor_text{
    cursor: text;
}
.cursor_vt{
    cursor: vertical-text;
}
.cursor_alias{
    cursor: alias;
}
.cursor_copy{
    cursor: copy;
}
.cursor_move{
    cursor: move;
}
.cursor_na{
    cursor: not-allowed;
}
.cursor_grab{
    cursor: grab;
}
.cursor_grabbing{
    cursor: grabbing;
}
.cursor_allsc{
    cursor: all-scroll;
}
.cursor_colres{
    cursor: col-resize;
}
.cursor_rowres{
    cursor: row-resize;
}
.cursor_nres{
    cursor: n-resize;
}
.cursor_eres{
    cursor: e-resize;
}
.cursor_sres{
    cursor: s-resize;
}
.cursor_wres{
    cursor: s-resize;
}
.cursor_neres{
    cursor: ne-resize;
}
.cursor_nwresize{
    cursor: nw-resize;
}
.cursor_seresize{
    cursor: se-resize;
}
.cursor_swresize{
    cursor: sw-resize;
}
.cursor_ewresize{
    cursor: ew-resize;
}
.cursor_nsresize{
    cursor: ns-resize;
}
.cursor_neswresize{
    cursor: nesw-resize;
}
.cursor_nwseresize{
    cursor: nwse-resize;
}

.cursor_zoomin{
    cursor: zoom-in;
}
.cursor_zoomout{
    cursor: zoom-out;
}

/************ Cursor ends ***************/

/************ Overflow ***************/

.overflow_a{
    overflow: auto;
}
.overflow_h{
    overflow: hidden;
}
.overflow_v{
    overflow: visible;
}
.overflow_s{
    overflow: scroll;
}

/************ Overflow ends ***************/

/************ Position ***************/
/* 

.p_static{
    position: static;
}
.p_relative{
    position: relative;
}
.p_fixed{
    position: fixed;
}
.p_absolute{
    position: absolute;
}
.p_sticky{
    position: sticky;
} 

*/

/************ Position ends ***************/


/************ Box Shadow ***************/

.bshad_sm{
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.51);
}
.bshad_reg{
    box-shadow: 0px 7px 20px -2px rgba(0,0,0,0.51);
}
.bshad_lar{
    box-shadow: 0px 18px 41px -2px rgba(0,0,0,0.51);
}
.bshad_none{
    box-shadow: none;
}
/************ Box Shadow ends ***************/

/************ Text Alignment ***************/

.ta_l{
    text-align: left;
}
.ta_r{
    text-align: right;
}
.ta_c{
    text-align: center;
}
.ta_js{
    text-align: justify;
}
.ta_st{
    text-align: start;
}
.ta_end{
    text-align: end;
}

/************ Text Alignment ends ***************/

/************ Word Wrap ***************/

.word_wrap{
    word-break: break-word;
}
.word_wrap_none{
    word-wrap: none;
}

/************ Word wrap ends ***************/

/************ Text Transform ***************/

.tr_text_upper{
    text-transform: uppercase;
}
.tr_text_capital{
    text-transform: capitalize;
}
.tr_text_lower{
    text-transform: lowercase;
}
.tr_text_none{
    text-transform: none;
}

/************ Text Transform ends ***************/

/************ Font weight ***************/

.fw_bold{
    font-weight: bold;
}
.fw_bolder{
    font-weight: bolder;
}
.fw_lighter{
    font-weight: lighter;
}

/************ Font weight ends ***************/

/************ Text Decoration ***************/
.tdl_none{
    text-decoration-line: none;
}
.tdl_ud{
    text-decoration-line: underline;
}
.tdl_ol{
    text-decoration-line: overline;
}
.tdl_lt{
    text-decoration-line: line-through;
}

.tds_s{
    text-decoration-style: solid;
}
.tds_db{
    text-decoration-style: double;
}
.tds_do{
    text-decoration-style: dotted;
}
.tds_da{
    text-decoration-style: dashed;
}
.tds_wa{
    text-decoration-style: wavy;
}

/************ Text Decoration ***************/
